<% title "Edit Registration" %>
<div id="user_nav">
  <% if current_user %>
    <p>Welcome, <%= current_user %></p>
    <%= link_to "Edit Profile", edit_user_path(current_user) %> |
    <%= link_to "Logout", log_out_path %>
  <% else %>
    <%= link_to "Login", log_in_path %>
  <% end %>
</div>

<%= render :partial => 'form' %>

<% if current_user %>
<p>
  <%= link_to "Show", @registration %> |
  <%= link_to "View All", registrations_path %>
</p>
<% end %>
